*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Roboto";
}

p{
    font-size: 12px;
}

h3{
    font-size: 24px;
}


/* Acá empezamos a modificar partes del header */

header form{
    display: flex;
    align-items: center;
    padding: 2px;
    position: relative;
}

header nav{
    display: none;
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

header{
    background-color: #eac926;
}

header p {
    text-align: center;
}

header div.logo,
header form{
    width: 50%;
}

header div.logo{
    padding: 10px;
}

header form input[type='search']{
    border: 0px;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding: 10px;
}
header form button{
    background-color: #FFF;
    border: 0px;
    outline: none;
    position: absolute;
    right: 5px;
    color: #666;
}
header div.top-header p{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

header ul li{
    list-style-type: none;
}

header ul li a{
    text-decoration: none;
    color: #000;
}
/* Acá terminamos de  modificar partes del header */

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}
article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 20px;
}

                                /* Burger menu */

div.burger i{
    background-color: #1259c3;
    border-radius: 5px;
    color: #ebebeb;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
    
}
div.burger{
    text-align: center;
}
div.burger i:hover{
    cursor: pointer;
    background-color: #03264C;
    
}
                            /* Burger menu */

                                /* Footer */
footer{
    background-color: rgb(253, 243, 243);
    color: rgb(82, 80, 80);
    padding: 20px 5%;
}

footer article{
    margin: 20px 0px;
    padding: 20px;
    text-align: center;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

                                 /* Footer */

                                    /* Main */

main{
    width: 90%;
    background-color: #ebebeb;
    margin: 0 auto;
}
main section h3{
    margin: 20px 0px;
}
main section article{
    background-color: #fff;
    margin: 10px 0px;
}
main section article:hover{
    box-shadow: 0px 0px 14px rgb(88, 85, 85);
}
main section article:hover .descripcion{
    display: block;
}
main section article img{
    display: block;
    width: 100%;
}

article{
    display: flex;
    padding: 15px;
    flex-direction: column;
}

.articulo-principal{
    margin-bottom: 10px;
    display: flex;
    border-top: 1px solid #ebebeb;
    background-color: white;
    flex-direction: column;
}

.precio{
    font-size: 20px;
    width: 30%;
}

.descuento,
.descripcion{
    font-size: 18px;
}

 .descuento{
    width: 70%;
} 

.descripcion{
    margin-top: 25px;
    display: none; /*solo en mobile*/
}

h3,
.descripcion{
    color: rgb(80, 80, 80);
}

main section article i,
.descuento{
    color: #30a840;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute; 
    right: 20px;
    top: -15px;
}
                     /* Main */

                    /* Banner */
                    
                    
section.banner img{
    width: 100%;
    display: block;
}


nav {
    display: none;
}

/* footer */






/* footer */
/*FORMULARIOS*/
.login input,
.register input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.login input[type='submit'],
.register input[type='submit']{
    color: #FFF;
    background-color: #c57703;  
    border-radius: 5px;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #d44006;
}

.register input[type='reset']{
    color: #FFF;
    background-color: #b1891b;
}

.register input[type='reset']:hover{
    background-color: #cfcc0d;
}

div.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.profile input,
div.profile label{
    width: auto;
    width: auto;
}

div.interests{
    display: flex;
    flex-wrap: wrap;
}

div.interests div{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

div.interests div input,
div.interests div label{
    width: auto;
}

div.interests div input{
    margin: 20px;
}

/*FORMULARIOS*/

/*---------------- media query */

@media(min-width: 361px){

    .login,
    .register{
        max-width: 500px;
        margin: 0 auto;
    }

    header div.top-header{
        padding: 2%;
    }
    header div.top-header{
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    header div.top-header div.logo{
        flex-grow: 5;
        width: auto ;
    }
    header div.top-header form{
        flex-grow: 5;
        width: auto ;
    }

    header div.top-header p{
        flex-grow: 1;
        width: auto;
    }
    header nav{
        padding: 2%;
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: flex;
    }

    header nav ul li{
        margin: 0px 10px;
    }

    .descripcion{
        margin-top: 25px;
        display: flex;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    

    div.burger i {
        display: none;
    }
    
    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    
    main section div.products article{
        width: 45%;
    }
    

} 

@media(min-width: 769px){

    header div.top-header{
        padding: 0% 2%;
    }
    header div.top-header div.logo{
        flex-grow: 2;
        width: auto ;
    }

    main section div.products{
        height: 70vh;
    }

    main section div.products article{
        width: 22%;
    }
    footer div.footer-article-container{
        display: flex;
    }
    
}
